Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List some of the used libraries in Data Science
- Summarize the Data Science Tools
- Provide examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

    1-Python    
    2-R language
    3-SQL
    4-Julia
    
    5-Matlab

Some of the commonly used libraries used by Data Scientists include:

- NumPy
- Pandas
- Matplotlib
- TensorFlow

| Data Science Tools |
| ----------------- |
| Jupyter Notebook  |
| RStudio           |
| Visual Studio Code|

Below are a few examples of evaluating arithmetic expressions in Python:

- Example 1: Addition
  - Expression: `10 + 5`
  - Result: `15`

- Example 2: Subtraction
  - Expression: `10 - 5`
  - Result: `5`

- Example 3: Multiplication
  - Expression: `10 * 5`
  - Result: `50`

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Assaad Wansa